*
!.gitignore
!*/
!**/src/**
!**/doc/**
!README/*
!README.md
!*.nrrd
!runtestprobs.py
*.o
*.mod
*.dSYM
/src/pmeshgen/ply2smfe/ply2smfe
/src/ptcloudgen/ptcloudgen
/src/surfrecon/voronoi/qvor2vtk/qvor2vtk
/src/surfrecon/voronoi/vsitegen/vsitegen
vor_db*
poiss_db*
*.ply
*.stl
vorbrep.m
poissbrep.m
*.vor
*.xyz
import-vor-smfe.csf
import-poiss-smfe.csf
*~
*.bk
**/all-pmeshes/**
additional-datasets
.DS_Store
external
reslt/tests/**
!/reslt/tests/unittests.py
!/reslt/tests/sphere.nrrd
junk
!**/README
*-resampled.nrrd
*-img.nrrd
*.DS_Store
**/brett/**
**/meteorite/**
**/sarah/**
